.root {
}
.cipher-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0px;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.cipher-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  justify-items: center;
  gap: 30px;
  align-content: start;
  justify-content: start;
  width: 70%;
  min-width: 600px;
  max-width: 1200px;
  padding: 20px;
}
.cipher-field-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  justify-items: start;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-shrink: 1;
}
.cipher-field-title {
  text-align: start;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}
.cipher-section-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  gap: 5px;
  align-content: start;
  font-size: 1rem;
  min-height: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}

.cipher-section-input {
  flex-grow: 1;
  outline: none !important;
  border: none !important;
  min-height: 30px;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
}

.cipher-section-input:focus {
  outline: none !important;
  border: none !important;
}

select {
  -webkit-appearance: none;
  appearance: none;
  max-height: 40px;
}
