.root {
}
.card-container {
  // flex: 0 1 500px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  // overflow: hidden;
  // position: static;

  // // overflow-x: auto;
  // overflow: hidden;

  // height: 40vh;
  // min-height: 500px;

  // align-items: center;
  // justify-items: center;
  // gap: 10px;
  // align-content: space-evenly;
  // justify-content: space-evenly;
  // cursor: inherit;

  // background-color: rgba(0, 0, 0, 1);
  // width: 100%;
}
.cipher-section {
  flex: 0 1 500px;
  background-color: rgba(49, 48, 48, 0.18);
  border-radius: 10px;
  width: 100%;
  min-width: 690px;
  max-width: 97vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 320px;
  height: 420px;
}